node_modules/
frontend/node_modules/
backend/target/
deploy/data/
frontend/build/
frontend/node_modules/
frontend-dist/
*.map
*.LICENSE.txt
.env
package-lock.json
agent/__pycache__/

# Agent logs
agent/logs/*.log
agent/__pycache__/
agent/*.pyc
